*.DS_Store
.idea/*
*.iml
.settings/*
.mvn/*
*.patch
*.pyc

pontifex/*
profile-logos/*
xdm-data-ingest-api/*
xdm-data-api/*
profile-audit/*
profile-export-job/*
profile-streaming-ingest/*
profile-streaming-segment/*
profile-config/*
profile-scan/*
profile-access/*
profile-feeds/*
profile-segment-jobs/*
profile-predicates-api/*
profile-notifications/*
profile-access-x/*
profile-segments-api/*
profile-tests-api/*
target/*
profile-sandbox/*
profile-segmentation-daemons/*
profile-export-daemons/*
profile-compute-daemons/*
profile-kafka-listener/*
profile-hades/*
profile-partitioner/*
profile-segment-timers/*
profile-logos/*
profile-chronos/*
profile-stream-test/*
profile-tools/*
profile-uistream-ingest/*
profile-listener/*
profile-argus-ingestor/*

# Scala IDE
**/.cache-main

# Scalatest
**/.cache-tests


# Eclipse
**/.classpath
**/.project
**/.settings

**/.cache-main

*/target/**

dependencies_with_licenses.tsv

